﻿
@{
    ViewBag.Title = "Reginald's Ancient Antiquities Auction House";
}

<h2>Welcome to Reginald's Ancient Antiquities Auction House!!</h2>

<a href="~/Home/Bid"><button class="btn">Bid on an Item!</button></a>
<br />
@Html.ActionLink("View all our items", "Index", "Items")